<div th:fragment="scripts" xmlns:th="https://www.thymeleaf.org">
    <div class="divContainerTop" style="position: fixed; right:50px; bottom:30px; ">
        <a href="#this" style="color:#A0A3B0;" id="btnToTop"><i class="bi bi-arrow-up-square" style="font-size:50px;"></i></a>
    </div>
    <div class="footer container" style="margin-bottom:30px;text-align: center; border-radius:100px; background:#fff; padding:20px 0; color:#3E3F50; font-size:11px; box-shadow: 0 0.6em 0.7em rgba(0,0,0,0.1);">
        © 智烘（上海）商贸有限公司闵行分公司
        <span style="text-decoration: underline;">沪ICP备 2020030679号-1</span>
    </div>
    <script th:src="@{/static/_scripts/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/static/_scripts/popper.js}" type="text/javascript"></script>
    <!--    <script th:src="@{/static/_scripts/bootstrap.bundle.min.js}" type="text/javascript"></script>-->
    <script th:src="@{/static/_scripts/jquery-Bpopup.js}" type="text/javascript"></script>
    <script th:src="@{/static/_scripts/sweetalert.min.js}" type="text/javascript"></script>
    <script th:src="@{/static/_scripts/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/static/_scripts/loading.js}" type="text/javascript"></script>
    <script th:src="@{/static/_scripts/bootstrap-datepicker.min.js}" type="text/javascript"></script>
    <script th:src="@{/static/_scripts/bootstrap-datepicker.zh-CN.min.js}" type="text/javascript"></script>
    <script th:src="@{/static/_scripts/select2.min.js}" type="text/javascript"></script>
    <script th:src="@{/static/_scripts/common.js}" type="text/javascript"></script>
    <script th:src="@{/static/_scripts/wangEditor.min.js}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            //退出登录
            $(".btnLogout").unbind('click').click(function(){
                new AjaxRequest({
                    url: '/api/user/logout',
                    callBack: function (res){
                        swal("成功退出！", "", "success").then(function(){
                            window.location.href = "/";
                        });
                    }
                });
            });

            //返回顶部
            $("#btnToTop").hide();
            $(window).scroll(function() {
                if ($(window).scrollTop() > 500) {
                    $("#btnToTop").fadeIn(200);
                } else {
                    $("#btnToTop").fadeOut(200);
                }
            });
            //当点击跳转链接后，回到页面顶部位置
            $("#btnToTop").click(function() {
                $('body,html').animate({
                        scrollTop: 0
                    },
                    500);
                return false;
            });
        });
    </script>
</div>