<div th:fragment="header_html" xmlns:th="https://www.thymeleaf.org">
    <style>
        body {font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif!important;}
        .header_container { background: #ffffff;  padding:15px 30px; border-radius: 100px; margin-bottom:30px; margin-top:10px;}
        .navbar-light .navbar-nav .nav-link { transition: color 0.5s; }
        .navbar-light .navbar-nav .nav-link:hover { color:#0C0C0C; }
    </style>
    <div class="container header_container" style="box-shadow: 0 0.2em 0.2em rgba(0,0,0,0.1)">
        <header>
            <nav class="navbar navbar-expand navbar-light">
                <a class="navbar-brand" href="#">Stronghold China</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item" th:class="${activeURL == '/backend/Dashboard' ? 'nav-item active' : 'nav-item'}">
                            <a class="nav-link" href="/" th:href="@{/backend/home}">Dashboard <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item" th:class="${activeURL == '/backend/user/list' ? 'nav-item active' : 'nav-item'}">
                            <a class="nav-link" href="#" th:href="@{/backend/user/list}">Customer</a>
                        </li>
                        <li class="nav-item" th:class="${activeURL == '/backend/product/list' ? 'nav-item active' : 'nav-item'}">
                            <a class="nav-link" href="#" th:href="@{/backend/product/list}">Product</a>
                        </li>
                        <li class="nav-item" th:class="${activeURL == '/backend/order/list' ? 'nav-item active' : 'nav-item'}">
                            <a class="nav-link" href="#" th:href="@{/backend/order/list}">Order</a>
                        </li>
    <!--                    <li class="nav-item" th:class="${activeURL == '/backend/setting' ? 'nav-item active' : 'nav-item'}">-->
    <!--                        <a class="nav-link" href="#" th:href="@{/backend/setting}">Setting</a>-->
    <!--                    </li>-->
                        <li class="nav-item dropdown" th:class="${activeURL == 'settings' ? 'nav-item dropdown active' : 'nav-item dropdown'}">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Setting
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" th:href="@{/backend/setting/category}">商品分类</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" th:href="@{/backend/setting/thumbnail}">首页缩略图</a>
                            </div>
                        </li>
    <!--                    <li class="nav-item">-->
    <!--                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
    <!--                    </li>-->
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
<!--                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item" style="border-bottom:2px solid #fff;">
                                <a class="nav-link btnLogout" href="#this">退出</a>
                            </li>
                        </ul>
                    </form>
                </div>
            </nav>
        </header>
    </div>
</div>
