<head th:fragment="head_meta" xmlns:th="https://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/static/_styles/bootstrap.min.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/static/_styles/bootstrap-datepicker3.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/_styles/loading.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/static/_styles/layout.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/static/_styles/select2.min.css}" media="all">
</head>
