<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<div th:replace="backend/include/top::head_meta"></div>
<title>headerererer</title>

<body>
<div id="wrap">
    <!--  Header Start  -->
    <div th:replace="backend/include/header::header_html"></div>
    <!--  //Header End  -->
    <!-- Contents Start   -->
    <div class="container" id="con">
        <h2>Dashboard</h2>
        <div class="contents">
            
        </div>
    </div>
    <!-- //Contents End   -->
</div>
<div th:replace="backend/include/popup::popup"></div>
<div th:replace="backend/include/bottom::scripts"></div>
</body>
</html>