<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<div th:replace="backend/include/top::head_meta"></div>
<link rel="stylesheet" type="text/css" th:href="@{/static/_styles/select2.min.css}" media="all">
<title>Register</title>
<style type="text/css">
html,body { height: 100%; padding: 0; margin: 0; }
/*background:url("/static/images/bg-2.svg") center bottom no-repeat; background-size: 100% 100%;*/
.register-wrap { height: 100%; box-sizing: border-box; }
.register { width:530px; margin:30px auto 0 auto; padding:30px; background:#fff; border-radius: 10px;}
.register h1 { text-align: center; font-size:2rem; margin-bottom:20px;}
.register_form>div { margin-bottom:15px;}
</style>
<body>
<div class="register-wrap">
    <div class="register">
        <h1>Regist</h1>
        <div class="register_form">
            <div class="form-group"><label for="USERNAME">用户名</label><input type="text" class="form-control" id="USERNAME" placeholder="支持4到16位(英文字母，数字，下划线，减号)" value="" /></div>
            <div class="form-row">
                <div class="form-group col-md-6"><label for="PASSWORD">密码</label><input type="text" class="form-control" id="PASSWORD" placeholder="请输入密码" value="" /></div>
                <div class="form-group col-md-6"><label for="CHECK_PASSWORD">确认密码</label><input type="text" class="form-control" id="CHECK_PASSWORD" value="" placeholder="再次输入密码"/></div>
            </div>
            <div class="form-group"><label for="REALNAME">真实姓名</label><input type="text" class="form-control" id="REALNAME" placeholder="请输入真实姓名" value="" /></div>
            <div class="form-row">
                <div class="form-group col-md-6"><label for="COMPANY">公司名</label><input type="text" class="form-control" id="COMPANY" placeholder="请输入公司名" value="" /></div>
                <div class="form-group col-md-6">
                    <label for="COMPANY_TYPE">公司类型</label>
                    <select class="form-control" id="COMPANY_TYPE">
                        <option value="">请选择公司类型</option>
                        <option value="01">111</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6"><label for="PHONE">手机号码</label><input type="text" class="form-control" id="PHONE" placeholder="请输入手机号码" value="" /></div>
                <div class="form-group col-md-6"><label for="EMAIL">E-Mail</label><input type="text" class="form-control" id="EMAIL" placeholder="请输入E-Mail" value="" /></div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="SEX">性别</label>
                    <select class="form-control" id="SEX">
                        <option value="">请选择性别</option>
                        <option value="01">男</option>
                        <option value="02">女</option>
                    </select>
                </div>
                <div class="form-group col-md-6"><label for="BIRTHDAY">生日</label><input type="text" class="form-control" id="BIRTHDAY" value="" placeholder="请选择生日日期" /></div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="PROVINCE_CODE">省份</label>
                    <select class="form-control" id="PROVINCE_CODE">
                        <option></option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="CITY_CODE">市</label>
                    <select class="form-control" id="CITY_CODE">
                        <option></option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="DISTRICT_CODE">区域</label>
                    <select class="form-control" id="DISTRICT_CODE">
                        <option></option>
                    </select>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-block btnRegister">提交</button>
    </div>
</div>

<script th:src="@{/static/_scripts/jquery.js}" type="text/javascript"></script>
<script th:src="@{/static/_scripts/common.js}" type="text/javascript"></script>
<script th:src="@{/static/_scripts/sweetalert.min.js}" type="text/javascript"></script>
<script th:src="@{/static/_scripts/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/static/_scripts/loading.js}" type="text/javascript"></script>
<script th:src="@{/static/_scripts/bootstrap-datepicker.min.js}" type="text/javascript"></script>
<script th:src="@{/static/_scripts/select2.min.js}" type="text/javascript"></script>
</body>
<script type="text/javascript">
$('#BIRTHDAY').datepicker({
    format: "yyyy-mm-dd"
});

var registerObject = {
    USERNAME : $("#USERNAME"),
    PASSWORD : $("#PASSWORD"),
    CHECK_PASSWORD : $("#CHECK_PASSWORD"),
    REALNAME : $("#REALNAME"),
    COMPANY : $("#COMPANY"),
    COMPANY_TYPE : $("#COMPANY_TYPE"),
    PHONE : $("#PHONE"),
    EMAIL : $("#EMAIL"),
    SEX : $("#SEX"),
    BIRTHDAY : $("#BIRTHDAY"),
};


$(".btnRegister").unbind('click').click(function(){
    if ($.trim(registerObject.USERNAME.val()) === "") { swal("用户名不能为空","", "warning"); return; }
    if ($.trim(registerObject.PASSWORD.val()) === "") { swal("密码不能为空","", "warning"); return; }
    if ($.trim(registerObject.PASSWORD.val()) !== $.trim(registerObject.CHECK_PASSWORD.val())) {
        swal("输入2次密码必须相同！", "", "warning");
        return;
    }
    var params = {
        USERNAME: $.trim(registerObject.USERNAME.val())
        ,PASSWORD: $.trim(registerObject.PASSWORD.val())
        ,REALNAME: $.trim(registerObject.REALNAME.val())
        ,COMPANY: $.trim(registerObject.COMPANY.val())
        ,COMPANY_TYPE: $.trim(registerObject.COMPANY_TYPE.val())
        ,PHONE: $.trim(registerObject.PHONE.val())
        ,EMAIL: $.trim(registerObject.EMAIL.val())
        ,SEX: $.trim(registerObject.SEX.val())
        ,BIRTHDAY: $.trim(registerObject.BIRTHDAY.val())
    }
    new AjaxRequest({
        url: '/api/user/create'
        ,params: params
        ,callBack: function(res) {
            if (res.status === 0) {
                swal("注册成功！", "", "success");
            } else {
                swal(res.msg, "", "error");
            }
        }
    });

});

registerObject.USERNAME.blur(function() {
    if($.trim(registerObject.USERNAME.val()) === "") { return;}

    var params = {
        USERNAME : $.trim(registerObject.USERNAME.val())
    };

    new AjaxRequest({
        url: "/api/user/check_username",
        params: params,
        isShowLoader: true,
        callBack: function(res){
            if (res.status !== 0) {
                swal(res.msg, "", "warning").then(function(value) {
                    registerObject.USERNAME.val('');
                    registerObject.USERNAME.focus();
                });
            }
        }
    });
});

$(document).ready(function() {
    $("#PROVINCE_CODE").select2({
        placeholder: "请选择省份"
    });
    $("#CITY_CODE").select2({
        placeholder: "请选择市"
    });
    $("#DISTRICT_CODE").select2({
        placeholder: "请选择区域"
    });

    lfn_Province();
});

$("#PROVINCE_CODE").unbind('change').change(function(){
    var params = { CODE_ID: this.value }

    new AjaxRequest({
        url: '/api/common/listByOPTION01',
        params: params,
        callBack: function(res) {
            if (res.status === 0) {
                var sbOPTION = new StringBuffer();
                $("#CITY_CODE").html('');
                $("#DISTRICT_CODE").html('');
                sbOPTION.append("<option></option>");
                for (var i = 0; i < res.data.length; i++) {
                    sbOPTION.append("<option value='" + res.data[i].CODE_TYPE +"'>" + res.data[i].CODE_NAME + "</option>")
                }
                $("#CITY_CODE").html(sbOPTION.toString());
            }
        }
    });
});

$("#CITY_CODE").unbind('change').change(function(){
    var params = { CODE_ID: this.value }

    new AjaxRequest({
        url: '/api/common/listByOPTION01',
        params: params,
        callBack: function(res) {
            if (res.status === 0) {
                var sbOPTION = new StringBuffer();
                $("#DISTRICT_CODE").html('');
                sbOPTION.append("<option></option>");
                for (var i = 0; i < res.data.length; i++) {
                    sbOPTION.append("<option value='" + res.data[i].CODE_TYPE +"'>" + res.data[i].CODE_NAME + "</option>")
                }
                $("#DISTRICT_CODE").html(sbOPTION.toString());
            }
        }
    });
});


var lfn_Province = function() {
    var params = {
        CODE_ID : 'PROVINCE_CODE'
    };

    new AjaxRequest({
        url: '/api/common/listByCodeId',
        params: params,
        isShowLoader: true,
        callBack: function(res){
            if (res.status === 0) {
                var sbOPTION = new StringBuffer();
                $("#PROVINCE_CODE").html('');
                sbOPTION.append("<option></option>");
                for (var i = 0; i < res.data.length; i++) {
                    sbOPTION.append("<option value='" + res.data[i].CODE_TYPE +"'>" + res.data[i].CODE_NAME + "</option>")
                }
                $("#PROVINCE_CODE").html(sbOPTION.toString());
            }
        }
    });

}

</script>
</html>