
/*body { background-color: #EFF2F7!important; }*/
/*body { background-color: #BCC7D5!important; }*/
/*body { background-color: #A0A3B0!important; }*/
/*body { background-color: #0226D6!important; }*/
/*body { background-color: #3E3F50!important; }*/
/*body { background-color: #7495DD!important; }*/
/*body { background-color: #9FB2DA!important; }*/
/*body { background-color: #335CCE!important; }*/
/*p{color:#2ec7c9;}*/
/*p{color:#b6a2de;}*/
/*p{color:#5ab1ef;}*/
/*p{color:#ffb980;}*/
/*p{color:#d87a80;}*/
/*p{color:#8d98b3;}*/
/*p{color:#e5cf0d;}*/
/*p{color:#97b552;}*/
/*p{color:#95706d;}*/
/*p{color:#dc69aa;}*/
/*p{color:#07a2a4;}*/
/*p{color:#9a7fd1;}*/
/*p{color:#588dd5;}*/
/*p{color:#f5994e;}*/
/*p{color:#c05050;}*/
/*p{color:#59678c;}*/
/*p{color:#c9ab00;}*/
/*p{color:#7eb00a;}*/
/*p{color:#6f5553;}*/
/*p{color:#c14089;}*/

ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { margin-bottom:0; font-size:1rem;}
ul { list-style: none;}
body{background-color: #EFF2F7; font-weight:normal; font-family: "Helvetica Neue", Arial, Verdana, sans-serif!important;}
input {outline: none;}
.nav-item:hover {border-bottom:2px solid #398BFD; }
.nav-item.active { border-bottom:2px solid #398BFD;}
.nav-link { font-weight: bold!important;}
.con { background:#fff; box-shadow: 0 0.6em 0.7em rgba(0,0,0,0.1); margin:20px auto 50px auto;  padding:10px 35px 35px 35px; border-radius: 30px; max-width: 1400px!important;}
.conTop { overflow:hidden; height:100%; margin-top:20px;}
.conTop h2 { float:left; line-height:1.5; color:#398BFD; font-weight:bold;display: inline-block; border-bottom:2px solid #398BFD; font-size:14px; padding:0 15px 6px 15px; }
.conTop a.btnSearchToggle { float:right; }
.divSearch { display: none; padding:30px; border-bottom:1px solid #F74459;}
.inputBox01 { color:#3E3F50; margin-left:30px;}
.inputBox01 label { display: inline-block; padding:0 10px; text-align: center; font-size:0.9rem; color:#3E3F50;}
.inputBox01 input  { font-size:12px; line-height:25px; padding:0 8px; border:1px solid #ddd; border-radius:5px; color:#3E3F50; width:130px;}
.inputBox01 select  { font-size:12px; line-height:25px; padding:0 8px; border:1px solid #ddd; border-radius:5px; color:#3E3F50; width:130px;}
.datepicker table th, .datepicker table td { color:#3E3F50; }
.divUser { margin-top:20px;}
.table01 { width:100%; border-top:2px solid #EFF2F7;}
.table01 thead th { text-align: center; padding:15px 0; border-bottom:1px solid #EFF2F7; } /*font-size:0.9rem;*/
.table01 tbody td { text-align: center; padding:15px 0; border-bottom:1px solid #EFF2F7; }

/* Button Style */
.btn01, .btn02, .btn03, .btn04, .btn05, .btn06 {text-decoration: none; font-size:0.9em; line-height:1; border-radius: 5px; padding:8px 16px; color:#fff;}
.btn01 { background:#3E3F50;}
.btn02 { background:#398BFD; border:1px solid #398BFD;}
.btn03 { background:#F74459;}
.btn04 { background:#7495DD;}
.btn05 { background:#fff; border:1px solid #A0A3B0; color:#A0A3B0;}
.btn06 { background:#ffc107; border:1px solid #ffc107; color:#3E3F50;}
.btn01:hover { opacity: 0.9; color:#fff; transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s; text-decoration: none;}
.btn02:hover { opacity: 0.9; color:#fff; transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s; text-decoration: none;}
.btn03:hover { opacity: 0.9; color:#fff; transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s; text-decoration: none;}
.btn04:hover { opacity: 0.9; color:#fff; transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s; text-decoration: none;}
.btn05:hover { opacity: 0.9; color:#3E3F50; border:1px solid #3E3F50; transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s; text-decoration: none;}
.btn06:hover { opacity: 0.9; color:#3E3F50; border:1px solid #3E3F50; transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s; text-decoration: none;}

/* Paging Style */
.page ul { margin:15px 0; overflow:hidden; height:100%; display: flex; justify-content: center;}
.page ul li { display:inline-block;}
.page ul li a { display: inline-block; width:45px; height:45px; line-height: 45px; margin:0 5px; text-align: center; border:1px solid #eee; border-radius: 5px; color:#111;}
.page ul li.on a { background:#3E3F50; color:#fff;}

/* Popup Style */
.popup01 { width:500px; padding:35px; background: #fff; border-radius: 10px;}
.popup01 h2 { font-size:1.5rem; font-weight: bold; margin-bottom: 10px;}
.popup02 { width:900px; background:#fff; border-radius: 10px; padding:30px 50px;}
.popup02 h2 { font-size:1rem; font-weight: normal; margin-bottom: 10px;}
.popup03 { width:500px; background:#fff; border-radius: 10px; padding:30px 50px;}
.popup03 h2 { font-size:1rem; font-weight: normal; margin-bottom: 10px;}


.float-right.btn02 { margin-right:10px;}










